@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* primary */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* neutral */
  --white: hsl(0, 0%, 100%);
  --verylightgrayishblue: hsl(210, 60%, 98%);
  --lightgrayishblue1: hsl(211, 68%, 94%);
  --lightgrayishblue2: hsl(205, 33%, 90%);
  --grayishblue: hsl(219, 14%, 63%);
  --darkgrayishblue: hsl(219, 12%, 42%);
  --verydarkblue: hsl(224, 21%, 14%);

  /* typography */
  --_size: 1rem;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--verylightgrayishblue);
  /* height: 100vh; */
  padding: calc(var(--_size) + 2rem);
  display: grid;
  place-content: center;
  place-items: center;
}

.App {
  background: var(--white);
  max-width: 800px;
  padding: calc(var(--_size) + 2.25rem);
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px var(--grayishblue);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(var(--_size) + 0.5rem);
}

.heading {
  font-size: calc(var(--_size) + .25rem);
}

.heading span {
  background-color: var(--blue);
  padding: .25rem .75rem;
  border-radius: 8px;
  color: var(--white);
}

.reading {
  color: var(--verydarkblue);
  cursor: pointer;
}

.reading:hover {
  color: var(--blue);
}

.notification {
  display: flex;
  align-items: center;
  padding: var(--_size) 0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.unread {
  background: var(--verylightgrayishblue);
  color: var(--red);
}

.notification > * {
  padding: var(--_size);
}

.pfp-wrapper > img {
  width: 50px;
  transition: filter 0.25s ease-in-out;
  cursor: pointer;
}

.pfp-wrapper > img:hover {
  filter: drop-shadow(1px 1px 8px var(--grayishblue));
}

.details-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.details-wrapper strong {
  color: black;
  cursor: pointer;
}

.details-wrapper p {
  color: var(--grayishblue);
}


.details-wrapper strong.detail {
  color: var(--darkgrayishblue);
}

.details-wrapper strong:hover {
  color: var(--blue);
}

.details-wrapper .time {
  color: var(--grayishblue);
  margin-top: 2px;
}

.details-wrapper .message {
  border: 1px solid var(--grayishblue);
  cursor: pointer;
  border-radius: 10px;
  padding: var(--_size);
  margin-top: 5px;
  transition: all 0.25s ease-in-out;
}

.details-wrapper .message:hover {
  background-color: var(--lightgrayishblue1);
}

.details-wrapper .picture{
  width: 50px;
  cursor: pointer;
  transition: filter 0.25s ease-in-out;
}

.details-wrapper .picture:hover{
  filter: drop-shadow(1px 1px 8px var(--grayishblue));
}

/* `ia queries */

@media screen and (max-width: 550px) {
  .App {
    padding: calc(var(--_size));
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: var(--_size);
  }
}

@media screen and (max-width: 450px) {
  .heading {
    font-size: calc(var(--_size) - .15rem);
  }
  .reading {
    font-size: calc(var(--_size) - .15rem);
  }
  .details-wrapper strong {
    font-size: calc(var(--_size) - .15rem);
  }
  .details-wrapper p{
    font-size: calc(var(--_size) - .15rem);
  }
}